:root {
    --primary-color: #0b0c10;
    --secondary-color: #202833;
    --tertiary-color: #C5C6C8;
    --accent-color: #66FCF1;
    --accent-shadow: #46A29F;
    --font-color: #FFFFFF;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}